<h1>Demo#show</h1>
<p>Find me in app/views/demo/show.html.erb</p>

<script type="text/javascript">
 d3.json("/sensi.json", function(json) {
   console.log(json);
 });
 d3.select("body").append("p").text("test")
</script>
